<!DOCTYPE html>	
<html>

<head>
  <meta charset="utf-8">
  <title>System do głosowania </title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
	<script src="/js/js.js"></script>
  <!-- <script src="./bootstrap/js/bootstrap.js"></script> -->
  <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">  
  <link href="/css/style.css" rel="stylesheet" type="text/css" >
  
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');		
	</style>


</head>

<body>

	<nav>
	 <div id=leftnav>
		<div id=dodajAnkiete onclick="dodajAnkiete()">Dodaj Ankietę</div>
		<div id=mojeAnkiety onclick="mojeAnkiety()">Moje ankiety</div> <!--- Intially hidden -->
	 </div>

	 <div id="loginbox" elid='<%=users[0].id%>' >
		<div id=logowanie onclick="zaloguj()" > Zaloguj</div>
		
		<div id=zalogowany style="display:none;">
			<div id=ikona></div>
			<div id=uzytkownik>
				<div class="dropdown show">
					  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= users[0].name %>
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#">Wyloguj</a>
					  </div>
				</div>
			
			
			</div>
		</div>


	 </div>
	 
	</nav>
	<div class=spacer></div>
	<div id=main>

		<div class="form-group col-md-8" style="margin-left: 20%; text-align: center;" >
			<h2>Wybierz typy pól do dodania</h2><br>
			<div >
			  <button  name="AddFieldTextbox" class="btn btn-light" onclick="newTextbox()">Wypowiedź</button>
			  <!-- <button  name="AddFieldSelectOne" class="btn btn-light" onclick="newSelectOne()">Wybierz jedno</button> -->
			  <button  name="AddFieldCheckbox" class="btn btn-light" onclick="newCheckbox()">Wybierz wiele</button>
			  <button  name="AddFieldRadio" class="btn btn-light" onclick="newRadio()">Wybierz opcję</button>
			</div>
		</div>
		<div id=forma>
			<!-- Form Name -->
			<legend id="title" contenteditable="true" class="col-md-8" style="text-align: center;">Kliknij tutaj aby zmienić tytuł ankiety!</legend>

			<!-- Text input-->
			<!-- <div class="form-group">
				<label class="col-md-8 control-label" for="textinput">Podaj Tytuł ankiety</label>  
				<div class="col-md-8">
					<input id="textinput" name="SurveyTitle" type="text" placeholder="" class="form-control input-md">
				
			  	</div> -->
			<!-- </div> -->
			<!-- Button -->
				
		</div>

		
			<div class="form-group col-md-12" style="text-align: center; ">
				<hr>
				  <label class="col-md-8 control-label">Aby stworzyć nową ankietę kliknij tutaj!</label>
				  
			</div>	
	</div>
	<div class=spacer></div>
	<footer>
		© 2020
	</footer>

 
 
</body>

</html>

<script>
	$(document).ready(function(){
		var session = document.cookie;
		if(session){
			document.getElementById("logowanie").style.display = "none";
		}else{
			document.getElementById("zalogowany").style.display = "none";
		}
	})
</script>