<!DOCTYPE html>	
<html>

<head>
  <meta charset="utf-8">
  <title>System do głosowania </title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  
  <!-- <script src="./bootstrap/js/bootstrap.js"></script> -->
  
  <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/js/js.js"></script>
  <script src="/js/loadView.js"></script>
  <script src="/js/SaveThisSurvey.js"></script>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">  
  <link href="/css/style.css" rel="stylesheet" type="text/css" >
  <link href="/css/style2.css" rel="stylesheet" type="text/css" >
  
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');		
	</style>


</head>

<body>
	<div id="overlay">
		<div id=errorBox onclick="errorGoToMain()">
			<h2 id=errorTitle>Coś poszło nie tak!</h2>
			<div id=errorMsg>Aby kontynuować kliknij...</div>

		</div>
	</div>

	<nav>
	 <div id=leftnav>
		<div id=dodajAnkiete onclick="dodajAnkiete()">Dodaj Ankietę</div>
		<div id=mojeAnkiety onclick="mojeAnkiety()">Moje ankiety</div> <!--- Intially hidden -->
	 </div>

	 <div id="loginbox" >
		
		<div id=logowanie onclick="zaloguj()" > Zaloguj</div>
			
		<div id=zalogowany >
			<div id=ikona></div>
			<div id=uzytkownik>
				<div class="dropdown show">
					  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= user %>
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a id="logout" class="dropdown-item" href="#">Wyloguj</a>
					  </div>
				</div>
			
			
			</div>
		</div>
		<div id="date" style="display: none;"><%=  moment().format('DDMMYY');%></div>


	 </div>
	 
	</nav>
	<div class=spacer></div>
	<div id=main >
		<div id=generatedSurveySend class="col-md-5" style=" margin-left: 27%;">			
			
			<br><br>
			<h3 class=" gSPID">Hasło Do konta</h3>		
			
			<br>
			<input class="form-control gSPID" type="password" id=passwordWygen><br><br>

			<div id="generatedSurveyPasswdInputDiv" style="display:none;">
				<h1>Zapisz koniecznie te dane!</h1>
				<br>
				<!-- <input class=form-control type="password" id=passwordWygen><br><br> -->
				<h3>Klucz udostępniania ankiety: </h3>
				<label id="KluczAnkiety" style="font-size: 2em;">PLACE HOLDER</label>
				<br><br>
				<h3>Klucz dostępu  do wyników ankiety (nie jest później dostępny): </h3>
				<label id="CCV" style="color: red;font-size: 2em;">PLACE HOLDER</label><br><br><br>
				<button type="button" class="btn btn-light btn-lg btn-block" name=GeneratorView  onclick="showGenerator(); writeSurvey(); " id="sendSurvey" > Wyślij ankietę !</button>
			</div>
		
			<!-- <button type="button" class="btn btn-light btn-lg btn-block" name=GeneratorView  onclick="showGenerator(); writeSurvey(); mojeAnkiety()" id="sendSurvey" > Wyślij ankietę !</button> -->
			<button type="button" class="btn btn-light btn-lg btn-block gSPID"  onclick="gSPID()" id="sendSurvey" > > Dalej > </button>
		</div>

		<div id=AddSurveyByKey class=col-md-5 style="margin-left: 27%;">
			<label  class="" for="surveyKey" >Podaj klucz do ankiety</label>
			<input id="key" class=form-control type="text" id=surveyKey>
			<br>
			<label  class="" for="Password" >Hasło do konta</label>
			<input id="pass" class=form-control type="password" id=password>
			<br><br>
			
			<button type="button" id="sendAddSurveyByKey" class="btn btn-light btn-lg btn-block" name=sendAddSurveyByKey onclick="" > Dodaj ankietę !</button>
			<hr class=col-md-6 >
			<h1>Lub utwórz nową!</h1><br>
			<button type="button" class="btn btn-light btn-lg btn-block" name=GeneratorView onclick="showGenerator()" > Generuj ankietę !</button>
		</div>



		
			<div class="form-group col-md-8 generatorAnkiet" style="margin-left: 20%; text-align: center;" >
				<h2>Wybierz typy pól do dodania</h2><br>
				<div >
				<button  name="AddFieldTextbox" class="btn btn-light" onclick="newTextbox()">Wypowiedź</button>
				<!-- <button  name="AddFieldSelectOne" class="btn btn-light" onclick="newSelectOne()">Wybierz jedno</button> -->
				<button  name="AddFieldCheckbox" class="btn btn-light" onclick="newCheckbox()">Wybierz wiele</button>
				<button  name="AddFieldRadio" class="btn btn-light" onclick="newRadio()">Wybierz opcję</button>
				</div>
			</div>
		
		<div id=forma  class="generatorAnkiet" style="margin-left:30%;">
			<!-- Form Name -->
			<legend id="title" contenteditable="true" class="col-md-8" style="text-align: center;">Kliknij tutaj aby zmienić tytuł ankiety!</legend>

			<!-- Text input-->
			<!-- <div class="form-group">
				<label class="col-md-8 control-label" for="textinput">Podaj Tytuł ankiety</label>  
				<div class="col-md-8">
					<input id="textinput" name="SurveyTitle" type="text" placeholder="" class="form-control input-md">
				
			  	</div> -->
			<!-- </div> -->
			<!-- Button -->
				
		
		</div>	
			<div  id=sendSurveydiv class="form-group col-md-12 generatorAnkiet"  style="text-align: center; float: left; ">
				<hr>
				  <label id="sendSurveyInit" class="col-md-8 control-label" onclick="wysylanieWygenerowanejAnkiety()">Aby stworzyć nową ankietę kliknij tutaj!</label>
				  
			</div>	
	</div>

	
	<div class=spacer></div>
	<footer>
		© 2020
	</footer>

 
 
</body>

</html>

<script>
	$(document).ready(function(){
		var session = document.cookie;
		// console.log(session);
		 

		if(session){
			document.getElementById("logowanie").style.display = "none";
		}else{
			document.getElementById("zalogowany").style.display = "none";
		}
		
		

		// console.log(SurveyKey);
		// console.log(typeof(date));

		$('#dodajAnkiete').click(function(){
			document.location.reload();
		})


		$('#sendSurvey').click(function(){
			//TODO: Pobranie hasła z tego samego id  = #sendSurvey // teraz jest to button // id inputu z hasłem = passwordWygen
			let surveyName =$('#title').text();
			let surveyKey;
			let surveyObject = {
				title : surveyName,
			};
			
			//------------------------------------------------------------------
			for(let number = 0; number <= idOfQuestion; number++){
				// console.log(idOfQuestion);
				$('#EntireQuestionNo'+number).each(function(){



					if($(this).attr('xd') == 'Radio'){
						let optionsOfRadio = [];
						let radioToObject = {};
						//radio title-----
						let questionLabel = $('#questionLabel'+number).text();
						//----------------


						let options = $('#divOfQuestion'+number).children('div').length;
						for(let optionCount = 0; optionCount < options; optionCount++){

							//all radio options-----
							let radioOptionName = $('#Q'+number+'o'+optionCount).children("label").text();
							//----------------------

							optionsOfRadio.push(radioOptionName);

							
						}

						radioToObject["EntireQuestionNo"+number]= {
								name : questionLabel,
								type : "r" , // radio - radio
								options : optionsOfRadio,
								input : ""
							}
						// console.log(radioToObject);
						// surveyObject = { 
						// 	radioToObject
						// };
						$.extend(surveyObject, radioToObject);

						// console.log(surveyObject);
						// surveyObject
						// console.log('all data from radio');
						// console.log('Survey title: '+ surveyName);
						// console.log('Options names: '+ optionsOfRadio);
						
					}
					if($(this).attr('xd') == 'Text'){
						let textToObject = {};

						let questionLabel = $('#questionLabel'+number).text();
						// let textarea = $('#divOfQuestion'+number).children("textarea").text();
						let textarea = document.getElementById("question"+number).value;
						textToObject["EntireQuestionNo"+number] = {
							name : questionLabel,
							type : "t" , // t - textarea
							options : [],
							input : textarea
						};
						$.extend(surveyObject, textToObject);
						// console.log(textarea);
					}
					if($(this).attr('xd') == 'Check'){
						let optionsOfCheck = [];
						let checkboxToObject = {};


						//check title-----
						let questionLabel = $('#questionLabel'+number).text();
						//----------------


						let options = $('#divOfQuestion'+number).children('div').length;
						for(let optionCount = 0; optionCount < options; optionCount++){
							

							//all check options-----
							let checkOptionName = $('#Q'+number+'o'+optionCount).children("label").text();						
							//----------------------
							
							optionsOfCheck.push(checkOptionName);
							
							console.log(optionsOfCheck);
						}


						checkboxToObject["EntireQuestionNo"+number]= {
								name : questionLabel,
								type : "c" , // c - checkbox
								options : optionsOfCheck,
								input : ""
							}
						// console.log(checkboxToObject);

						$.extend(surveyObject, checkboxToObject);

						// console.log(surveyObject);
						// console.log('Check'+number)
						// console.log('all data from check');
						// console.log('Checkbox title: '+ questionLabel);
						// console.log('Options names: '+ optionsOfCheck);

					}
					
				});
			}
			
			//------------------------------------------------------------------
			function makeid(length) {
				var result           = '';
				var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
				var charactersLength = characters.length;
				for ( var i = 0; i < length; i++ ) {
					result += characters.charAt(Math.floor(Math.random() * charactersLength));
				}

				return result;
			}

			let date = $('#date').text();
			surveyKey = makeid(4) + date;


			console.log(surveyKey);


			let surveyData = JSON.stringify(surveyObject);


			$.post("/dodajankiete",{key: surveyKey ,title: surveyName, data: surveyData, session: session});
			console.log('Sended to middlevare-----------------');

			// console.log(surveyData);
			// console.log(questionDetails);
		});



		$('#sendAddSurveyByKey').click(function(){
			//console.log('123213')
			let key = $('#key').val();
			let pass = $('#pass').val();
			$.post("/addSurveyByKey",{key: key ,pass: pass});
			//console.log(key);
		});



	});
</script>