<!DOCTYPE html>	
<html>

<head>
  <meta charset="utf-8">
  <title>System do głosowania </title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
	<script src="./js/js.js"></script>
  <!-- <script src="./bootstrap/js/bootstrap.js"></script> -->
  <script src="./bootstrap/js/bootstrap.bundle.js"></script>
  <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">  
  <link href="./css/style.css" rel="stylesheet" type="text/css" >
  
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');		
	</style>


</head>

<body>

	<nav>
	 <div id=leftnav>
		<div id=dodajAnkiete onclick="dodajAnkiete()">Dodaj Ankietę</div>
		<div id=mojeAnkiety onclick="mojeAnkiety()">Moje ankiety</div> <!--- Intially hidden -->
	 </div>

	 <div id="loginbox" elid='<%=users[0].id%>' >
		<div id=logowanie onclick="zaloguj()" > Zaloguj</div>
		
		<div id=zalogowany style="display:none;">
			<div id=ikona></div>
			<div id=uzytkownik>
				<div class="dropdown show">
					  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= users[0].name %>
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#">Wyloguj</a>
					  </div>
				</div>
			
			
			</div>
		</div>


	 </div>
	 
	</nav>
	<div class=spacer></div>
	<div id=main>
		<div id=forma>
			<!-- Form Name -->
			<legend>Login</legend>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-6 control-label" for="textinput">Login</label>  
			  <div class="col-md-6">
			  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" >
				
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-6 control-label" for="passwordinput">Password</label>
			  <div class="col-md-6">
				<input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md">
				
			  </div>
			</div>
			<!-- Button -->
				<div class="form-group">
				
				  <div class="col-md-6">
					<button id="LogIN" name="Login" class="btn btn-primary">Zaloguj!</button>
				  </div>
				  
				    <label class="col-md-6 control-label" for="Register">Kliknij tutaj aby się zarejestrować!</label>
				  <!-- <div class="col-md-6"> -->
					<!-- <button id="register" name="register" class="btn btn-primary">Zarejestruj się!</button> -->
				  <!-- </div> -->
				</div>
		</div>
	</div>
	<div class=spacer></div>
	<footer>
		© 2020
	</footer>

 
 
</body>

</html>
<script>
	$(document).ready(function() {

		$('#LogIN').click(function(){
			let login = $('#textinput').val();
			let password = $('#passwordinput').val();
			console.log('click');
			$.post("/home",{login: login, password: password}, function(res){
				// alert(res.iscorrect);
				if(res.iscorrect){
					document.location.replace("home");
				}
			});
			// document.location.replace("home");
		});
		
		

		$('#register').click(function(){
			// console.log(333333);
			document.location.replace('register');
		})
	});
</script>