.questionLabel{
	font-size:1.5em;
	margin-left:-0.5em;
}

[contenteditable="true"]:hover{
	background-color: white;
	color: black;
	cursor:text;
	border-radius: 0.25rem;
	padding-left: 2px;
}

[contenteditable="true"]:focus{
	background-color: white;
	color: black;
	cursor:text;
	border-radius: 0.25rem;
	padding-left: 2px;
}
#unSelect{
	border-top:none;
	border-left: black;
	
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.deleteButton{
	position: relative;
	margin-left:-220px;
	margin-right: 30px;
}
.generatorAnkiet{
	display: none;
}
#generatedSurveySend{
	display: none;
}


/* Do obsługi błędów */
#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	justify-content:center;
	align-items:center;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#errorBox{
	height: 20em;
	width: 35em;
	position: fixed;
	background-color: rgb(39, 35, 35);
	padding: 1em;
	


	cursor: pointer;
	



}