<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>System do głosowania </title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <script src="../bootstrap/js/bootstrap.js"></script>
  <script src="../js/js.js"></script>
  
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">



</head>

<body>

	<nav>
	 <div id=leftnav>
		<div id=dodajAnkiete onclick="dodajAnkiete()">Dodaj Ankietę</div>
		<div id=mojeAnkiety onclick="mojeAnkiety()">Moje ankiety</div> <!--- Intially hidden -->
	 </div>
	 <div id=loginbox>
		Witaj
	 </div>
	 
	</nav>
	
	<div id=main>
	
	</div>
 
	<footer>
		2020
	</footer>

 
 
</body>

</html>